In [ ]:
import pandas as pd
import numpy as np
import seacrowd as sc
import pandasai as pai
from datasets import load_dataset

In [58]:
nq_open = load_dataset("google-research-datasets/nq_open", trust_remote_code=True)
filwordnet = load_dataset("SEACrowd/filwordnet", trust_remote_code=True)
trivia_qa = load_dataset("mandarjoshi/trivia_qa", "rc", trust_remote_code=True)
wiki_qa = load_dataset("microsoft/wiki_qa", trust_remote_code=True)

Resolving data files:   0%|          | 0/26 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/26 [00:00<?, ?it/s]

Loading dataset shards:   0%|          | 0/24 [00:00<?, ?it/s]

In [52]:
print(nq_open.keys())
print(filwordnet.keys())
print(trivia_qa.keys())
print(wiki_qa.keys())

dict_keys(['train', 'validation'])
dict_keys(['train'])
dict_keys(['train', 'validation', 'test'])
dict_keys(['test', 'validation', 'train'])

In [ ]:
pd.DataFrame(nq_open["train"][:5])

,question,answer
0,where did they film hot tub time machine,[Fernie Alpine Resort]
1,who has the right of way in international waters,[Neither vessel]
2,who does annie work for attack on titan,[Marley]
3,when was the immigration reform and control ac...,"[November 6, 1986]"
4,when was puerto rico added to the usa,[1950]
5,who has been chosen for best supporting actres...,[Zaira Wasim]
6,which side of the white house is the front,[North]
7,names of the metropolitan municipalities in so...,"[Mangaung Metropolitan Municipality, Nelson Ma..."
8,who's hosting the super bowl in 2019,"[Atlanta, Georgia]"
9,in which year vivo launch its first phone in i...,[2014]

In [ ]:
pd.DataFrame(filwordnet["train"][:5])

,word_id,lemma,synset_id,sense_id,pos,lexdomain_id,definition,last_modifier,sumo
0,51421,matino,302262136,50225,a,0,nasa tamang pagiisip,1,None
1,49082,maayos,302262136,50226,a,0,nasa tamang pagiisip,1,None
2,51420,hanapbuhay,100553013,50224,n,0,paraan ng pamumuhay,1,None
3,51419,trabaho,100553013,50223,n,0,paraan ng pamumuhay,1,None
4,51419,trabaho,100584367,52818,n,0,propesyon na kung saan ikaw ay kumikita,1,Position
5,53524,obra,100584367,52817,n,0,propesyon na kung saan ikaw ay kumikita,1,Position
6,53525,gawain,100584367,52819,n,0,propesyon na kung saan ikaw ay kumikita,1,Position
7,51418,matibay,301086211,50361,a,0,mahirap sirain,1,None
8,51521,makunat,301086211,50360,a,0,mahirap sirain,1,None
9,51418,matibay,301973490,50222,a,0,hindi mabilis sirain,1,None

In [49]:
pd.DataFrame(trivia_qa["train"][:5])

,question,question_id,question_source,entity_pages,search_results,answer
0,Which American-born Sinclair won the Nobel Pri...,tc_1,http://www.triviacountry.com/,"{'doc_source': [], 'filename': [], 'title': []...",{'description': ['The Nobel Prize in Literatur...,"{'aliases': ['(Harry) Sinclair Lewis', 'Harry ..."
1,Where in England was Dame Judi Dench born?,tc_3,http://www.triviacountry.com/,"{'doc_source': ['TagMe', 'TagMe'], 'filename':...","{'description': ['Judi Dench, Actress: Skyfall...","{'aliases': ['Park Grove (1895)', 'York UA', '..."
2,In which decade did Billboard magazine first p...,tc_5,http://www.triviacountry.com/,"{'doc_source': [], 'filename': [], 'title': []...",{'description': ['Song chart US Billboard. The...,"{'aliases': ['30's', '30’s', '30s', '30s AD', ..."
3,From which country did Angola achieve independ...,tc_8,http://www.triviacountry.com/,"{'doc_source': ['TagMe', 'TagMe', 'Search'], '...",{'description': ['Angola; Angola from past to ...,"{'aliases': ['Portogało', 'Republic of Portuga..."
4,Which city does David Soul come from?,tc_9,http://www.triviacountry.com/,"{'doc_source': ['TagMe'], 'filename': ['David_...","{'description': ['David Soul, Actor: Starsky a...","{'aliases': ['Chi-Beria', 'Sayre language acad..."

In [57]:
pd.DataFrame(wiki_qa["train"][:5])

,question_id,question,document_title,answer,label
0,Q1,how are glacier caves formed?,Glacier cave,A partly submerged glacier cave on Perito More...,0
1,Q1,how are glacier caves formed?,Glacier cave,The ice facade is approximately 60 m high,0
2,Q1,how are glacier caves formed?,Glacier cave,Ice formations in the Titlis glacier cave,0
3,Q1,how are glacier caves formed?,Glacier cave,A glacier cave is a cave formed within the ice...,1
4,Q1,how are glacier caves formed?,Glacier cave,"Glacier caves are often called ice caves , but...",0